@font-face {
  font-family: "iconfontjs";
  /* Project id 4883179 */
  src: url('iconfont.woff2?t=1744270703690') format('woff2'),
    url('iconfont.woff?t=1744270703690') format('woff'),
    url('iconfont.ttf?t=1744270703690') format('truetype');
}

.iconfontjs {
  font-family: "iconfontjs" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  margin-left: 5px;
}

.icon-huanjingjiance:before {
  content: "\e61c";
}

.icon-turangPH:before {
  content: "\e617";
}

.icon-a-buguangdengzidong:before {
  content: "\e619";
}

.icon-fengshan:before {
  content: "\e61a";
}

.icon-shuibeng:before {
  content: "\e61b";
}

.icon-daqiwendu:before {
  content: "\e612";
}

.icon-eryanghuatan:before {
  content: "\e614";
}

.icon-turangshidu:before {
  content: "\e615";
}

.icon-kongqishidu_kongqishidu:before {
  content: "\e616";
}

.icon-guangzhaoqiangdu:before {
  content: "\e618";
}

.icon-bingchonghai-1haichong:before {
  content: "\e609";
}

.icon-tpjl:before {
  content: "\e608";
}

.icon-sxtjl:before {
  content: "\e613";
}

.icon-znws:before {
  content: "\e60c";
}

.icon-sy:before {
  content: "\e60f";
}

.icon-tpjc:before {
  content: "\e610";
}

.icon-sj:before {
  content: "\e611";
}

.icon-znwd:before {
  content: "\e602";
}

.icon-grzx:before {
  content: "\e604";
}

.icon-cc:before {
  content: "\e605";
}

.icon-spjl:before {
  content: "\e606";
}

.icon-yh:before {
  content: "\e607";
}

.icon-shexiangtoujiance:before {
  content: "\e60a";
}

.icon-spjc:before {
  content: "\e60b";
}

.icon-hjjc:before {
  content: "\e60d";
}

.icon-gr:before {
  content: "\e60e";
}